html, body, .game-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.bar-style {
    min-height: 50px;
}

.top-bar {
    background-color: rgb(172, 125, 68);
}

.main-div {
    flex: 1;
    background-color: rgb(172, 101, 68);
}

.left-main {
    flex: 1;
    background-color: rgb(163, 69, 26);
}

.main-main {
    flex: 3;
    background-color: rgb(101, 71, 57);
}

.bottom-bar {
    background-color: rgb(99, 66, 26);
}